<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/join_complete.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
   
   <script>
       $(document).ready(function(){
         $("#header").load("header.html");
         $("#footer").load("footer.html");
      });
    </script>
    
    <title>파리바게뜨</title>
</head>
<body>
    <!-- header -->
    <div id="header"></div>
    
    <main id="content">
        <div class="welcome_box">
            <img src="img/joinLogin/pb_logo.png" alt="">
             <p>파리바게뜨 가입을 환영합니다</p>
     
             <div class="btns">
                 <a href="/index.html" class="main_page">메인화면</a>
                 <a href="/login" class="login_page">로그인</a>
             </div>
        </div>
    
    </main>
    
    <!-- footer -->
    <div id="footer"></div>
</body>
</html>